# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Build or dist folders
build/
dist/
frontend/build/
backend/build/

# Environment files
.env
frontend/.env
backend/.env

# Logs
*.log
npm-debug.log*

# IDE and system files
.DS_Store
Thumbs.db
.vscode/

# Test and temporary files
test_reports/
tests/
__pycache__/
*.pyc
frontend/node_modules/.cache/default-development/0.pack
frontend/node_modules/.cache/default-development/1.pack
